<html  xmlns:th="http://www.thymeleaf.org">
<head th:include="include/admin/adminHeader::html('销售列表')">
</head>
<body>
<script>
    $(function(){
        var dataVue={
            uri:"tsale",
            pagination:{},
            beans:[]
        };
        var vue = new Vue({
            el:"#tsaleInfo",
            data:dataVue,
            mounted:function(){  //当vue加载成功执行它
                this.list(1);
            },
            methods : {
                //获取信息
                list : function(start){

                    var url = this.uri + "/selectAllTsale?start="+start;
                    axios.get(url).then(function(response) {
                        vue.pagination=response.data;
                        vue.beans=response.data.list;
                    });
                },
                outstorge : function(id){ //出库
                    var url = this.uri + "/outstorge?id="+id;
                    axios.get(url).then(function(response) {
                        alert(response.data);
                        location.reload();
                    });
                },
                jump : function (page) {
                    jump(page,vue);    //点击左右两边跳转要么下一页要么最后一页,要么前一页要么第一页
                },
                jumpByNumber : function(start){
                    jumpByNumber(start,vue); //显示出导航栏页数的跳转
                }
            }
        });
    });
</script>
<div id="nav1" th:include="include/admin/navList1 :: nav1" style="position:relative;top: 0px"></div>
<div id="tsaleInfo" style="position:relative;top: -660px;border: 1px solid #bdd7f2;width: 1425px;height: 640px;margin-left: 215px " >

    <div id="tsaleInfo_pageList" style="margin-top:100px;width: 1000px;margin-left: 180px">
        <table class="table table-striped table-bordered table-hover  table-condensed">
            <thead>
                <th>id</th>
                <th>操作</th>
                <th>销售组件</th>
                <th>销售单价</th>
                <th>是否出库</th>
                <th>销售数量</th>
            </thead>
            <tbody>
            <tr v-for='s in beans'>
                <td>{{s.id}}</td>
                <td>
                    <a href="#"  @click="outstorge(s.id)"  v-if="s.status==0" style="text-decoration:none">出库</a>
                    <a  href="#" @click="deleteBean(s.id)"  style="text-decoration:none">删除</a>
                </td>
                <td>{{s.name}}</td>
                <td>{{s.salePrice}}</td>
                <td v-if='s.status==1'>已出库</td>
                <td v-if='s.status==0'>未出库</td>
                <td>{{s.saleNum}}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <div id="pageNav">
        <div  th:replace="include/admin/adminPage::html" ></div>
    </div>
</div>
</body>
</html>